<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile update form</title>
</head>
<body>

<form action="/updateprofile" method="get">
    Id: <input type="text" name="id" value="{{ person[0] }}">
    <br/>
    Name: <input type="text" name="myname" value="{{ person[1] }}">
    <br/>
    Country of residence: <input type="text" name="country_of_residence" value="{{ person[2] }}">
    <br/>
    <input type="submit" value="Submit button"/>

</form>

</body>
</html>